body {
    font-family: mulish;
    margin: 0px;
    height: 100dvh;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F9A4BB;
    z-index: 999999;
}

.Logo-nav {

    height: 6.25rem;
}

.conteudo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6.25rem;
    border-bottom: solid #FFFFFF 1px;
    gap: 7.5rem;



}

.conteudo-esquerda-nav {
    width: 20%;
    display: flex;
    justify-content: center;



}

.conteudo-direita-nav {
    width: 50%;
    display: flex;
    gap: 5rem;

    a {
        color: #FFFFFF;
        font-size: 20pt;
        text-decoration: none;
        transition: color 0.5s;
    }

    a:hover {
        color: #E71059;
    }

}

.conteudo-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.filho-esquerda {
    width: 50%;
    padding-top: 5.625rem;

    button {
        background-color: #E71059;
        color: #FFFFFF;
        font-size: 14pt;
        border-radius: 25px;
        width: 15.625rem;
        height: 3.44rem;
        cursor: pointer;
        transition: 0.5s;
        
        border: 0;
    }

    button:hover {
        color: #000000;
        background-color: #FFFFFF;
    }

}

.filho-direita {
    width: 35%;
    padding-top: 3.75rem;
    display: inline-block;

}

#home {
    background-color: #F9A4BB;
    height: 100dvh;
}

#texto-home {
    color: #FFFFFF;
    word-spacing: 0.44rem;
    font-size: 22pt;
    position: relative;
    display: inline-block;
    padding-bottom: 0.625rem;

}

#texto-home::after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 15rem;
    width: 35%;
    height: 0.19rem;
    background-color: #E71059;

}

#titulo1-home {
    color: #FFFFFF;
    font-size: 55pt;
}

#titulo2-home {
    color: #E71059;
    font-size: 68pt;
    line-height: 1.56rem;
}

#botao-home {
    padding-top: 3.25;
}

#imagem-section1 {
    height: 55.625rem;
    width: auto;

}

.conteinerPecas {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.625rem;
}

#tituloPecas {
    font-size: 30pt;
    color: #E71059;
}

#tituloPecas::after {
    content: ' ';
    position: absolute;
    bottom: -11.25rem;
    right: 42.2rem;
    width: 15%;
    height: 0.19rem;
    background-color: #E71059;
}

.colunasPecas {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;

}

.parte1Coluna {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;

}

.parte2Coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E71059;

}

.txtPecas {
    text-align: center;
    font-size: 22pt;
}

.subtituloPecas {
    font-size: 22pt;
}

.imagemColuna {
    background-color: #E71059;
    width: 18.125rem;
    height: 18.125rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 250px;
        height: 250px;


    }
}

.iconeColuna {
    background-color: #F9A4BB;
    border-radius: 100%;
    width: 4.475rem;
    height: 4.475rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    img {
        width: 3.125rem;
        height: 3.125rem;


    }
}

footer {
    background-color: #E71059;
    font-size: 18pt;
    margin-top: 15.625rem;
    margin-bottom: 1rem;
}

footer a {
    color: #FFFFFF;
}

.logo-footer-div {
    display: flex;
    justify-content: center;
}

#logo-footer-image {
    width: 13.75rem;
    height: 13.75rem;
    display: flex;
    justify-content: center;
}

.logo-footer-div::after {
    content: ' ';
    position: absolute;
    bottom: -87.5rem;
    width: 90%;
    height: 0.1875rem;
    background-color: #F9A4BB;
}

.linksfooter {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linksfooter a {
    margin-left: 0.625rem;
}

.Instagram img {
    width: 2.19rem;
    height: auto;
}

.Facebook img {
    width: 2.19rem;
    height: auto;
}

.Gmail img {
    width: 2.19rem;
    height: auto;
}

.feito-por {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}