body {
    font-family: mulish;
    margin: 0px;
    height: 100dvh;
}

header {
    background-color: #F9A4BB;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.Logo-nav {

    height: 100px;
}

.conteudo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    border-bottom: solid #FFFFFF 1px;
    gap: 120px;



}

.conteudo-esquerda-nav {
    width: 20%;
    display: flex;
    justify-content: center;



}

.conteudo-direita-nav {
    width: 50%;
    display: flex;
    gap: 80px;

    a {
        color: #FFFFFF;
        font-size: 20pt;
        text-decoration: none;
        transition: color 0.5s;
    }

    a:hover {
        color: #E71059;
    }

}

.conteudo-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.filho-esquerda {
    width: 50%;
    padding-top: 90px;

    button {
        background-color: #E71059;
        color: #FFFFFF;
        font-size: 14pt;
        border-radius: 25px;
        width: 250px;
        height: 55px;
        cursor: pointer;
        transition: background-color 0.5s;
        border: 0;
    }

    button:hover {
        color: #000000;
        background-color: #FFFFFF;
    }

}

.filho-direita {
    width: 35%;
    padding-top: 60px;
    display: inline-block;

}

#home {
    background-color: #F9A4BB;
    height: 100dvh;
}

#texto-home {
    color: #FFFFFF;
    word-spacing: 7px;
    font-size: 22pt;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

}

#texto-home::after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 240px;
    width: 35%;
    height: 3px;
    background-color: #E71059;

}

#titulo1-home {
    color: #FFFFFF;
    font-size: 55pt;
}

#titulo2-home {
    color: #E71059;
    font-size: 68pt;
    line-height: 25px;
}

#botao-home {
    padding-top: 50px;
}

#imagem-section1 {
    height: 890px;
    width: auto;

}

.conteinerPecas {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#tituloPecas {
    font-size: 30pt;
    color: #E71059;
}

#tituloPecas::after {
    content: ' ';
    position: absolute;
    bottom: -180px;
    right: 675px;
    width: 15%;
    height: 3px;
    background-color: #E71059;
}

.colunasPecas {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
   
}

.parte1Coluna {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

.parte2Coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E71059;

}

.txtPecas {
    text-align: center;
    font-size: 18pt;
}

.subtituloPecas {
    font-size: 18pt;
}

.imagemColuna {
    background-color: #E71059;
    width: 290px;
    height: 290px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

    img {
        width: 250px;
        height: 300px;

    }
}

.iconeColuna {
    background-color: #F9A4BB;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    img {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

footer{
    background-color: #E71059;
    font-size: 18pt;
    margin-top: 250px;
    margin-bottom: 16px;
}

footer a{
    color: #FFFFFF;
}

.logo-footer-div{
    display: flex;
    justify-content: center;
}

#logo-footer-image{
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
}

.logo-footer-div::after {
    content: ' ';
    position: absolute;
    bottom: -880px;
    width: 90%;
    height: 3px;
    background-color: #F9A4BB;
}

.linksfooter{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linksfooter a{
    margin-left: 10px;
}

.Instagram img{
    width: 35px;
    height: auto;
}

.Facebook img{
    width: 35px;
    height: auto;
}

.Gmail img{
    width: 35px;
    height: auto;
}

.feito-por{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}